*{
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
}


/* App Container */

.zoom{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: grey;
    align-items: center;
    justify-content: center;
}
.buttons{
    position: fixed;
    right: 1%;
    top:1%;
    height: 3%;
    width: 10%;
    background-color: aqua;
    
}


.cards-container{
    display: flex;
    flex-basis: 80%;
    width: 90%;
    overflow-y: scroll;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.bottom{
    position: fixed;
    bottom: 0;
    height: 8%;
    width: 100%;
    background-color: pink;
}

.card{
    height: calc(100%/5);
    width: calc(100%/7 - 4px);
    margin-bottom: 4px;
    border: solid black 1px;;
    /* background-image: url("https://picsum.photos/700/500");
    background-size: cover;
    background-repeat: no-repeat; */
    position: relative;
    display: flex;
    flex-direction: column-reverse;
}

.card img{
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.status{
    width: 50%;
    height: 20%;
    background-color: rgba(160, 160, 160, 0.75);
    position: absolute;
    color: white;
}


