*{
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
    font-family: Helvetica, sans-serif;
}


/* App Container */
.zoom{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: black;
    align-items: center;
    justify-content: center;
}

/* Buttons */
.top-buttons-container{
    display: flex;
    position: fixed;
    right: 1%;
    top:1%;
}

.top-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: grey;
    border-radius: 5px;
    font-size: 0.7rem;
    color: white;
    padding: 4px;
    margin: 4px;
}



/* Cards */
.cards-container{
    display: flex;
    flex-basis: 80%;
    width: 90%;
    overflow-y: scroll;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.card{
    height: calc(100%/5);
    width: calc(100%/7 - 4px);
    padding-bottom: 4px;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
}
.card img{
    height: 100%;
    width: 100%;
    object-fit: cover;

}
.status{
    background-color: rgba(160, 160, 160, 0.75);
    position: absolute;
    color: white;
    padding: 3%;
    font-size: 0.8rem;
}

/* Bottom */
.bottom{
    display: flex;
    position: fixed;
    justify-content: space-between;
    bottom: 0;
    height: 8%;
    width: 100%;
    background-color: grey;
}


.button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100%;
    width: 5vw;
    line-height: 15px;
}
.button div{
    font-size: 0.5rem;
}
.button i{
    font-size: 1.2rem;
}

.button:hover{
    color: black;
}

.centered-buttons, .left-buttons{
    display: flex;
}

.end-meeting{
    color: red;
    background-color: lightgrey;
}

.button:nth-of-type(4){
    color: green;
}

